<div *ngIf="showUpload" appOggdudeUpload class="uploadfilecontainer" (click)="fileInput.click()" (onFileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div class="card container" *ngFor="let character of characters | async">
  <div class="card-header">
    <div class="row">
      <div class="col">{{ character.characterName }}</div>
    </div>
  </div>
  <div class="card-group">
    <div class="card container">
      <div class="card-body">
        <div *ngFor="let c of character.characteristics" class="container">
          <div class="row">
            <div class="col-3"><span>{{ c.name }}</span></div>
            <div class="col-1"><span>{{ c.value }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card container">
      <div class="card-body">
        <div class="row">
          <div class="col-3"><span>Force Rating</span></div>
          <div class="col-2"><span>{{ character.attributes.forceRating }}</span></div>
          <div class="col-7"></div>
        </div>
        <div class="row">
          <div class="col-3"><span>Wound</span></div>
          <div class="col-2"><span>{{ character.attributes.wound }}</span></div>
          <div class="col-7"></div>
        </div>
        <div class="row">
          <div class="col-3"><span>Strain</span></div>
          <div class="col-2"><span>{{ character.attributes.strain }}</span></div>
          <div class="col-7"></div>
        </div>
        <div class="row">
          <div class="col-3"><span>Soak</span></div>
          <div class="col-2"><span>{{ character.attributes.soak }}</span></div>
          <div class="col-7"></div>
        </div>
        <div class="row">
          <div class="col-3"><span>Defense</span></div>
          <div class="col-7"><span>melee {{ character.attributes.defense.melee}}</span><span>, ranged
              {{ character.attributes.defense.ranged}}</span></div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card container">
    <div class="card-body">
      <div *ngFor="let c of character.generalSkills" class="container">
        <div class="row border-secondary mb-3 no-gutters">
          <div class="col-3"><span>{{ c.name }}</span><span> (</span><span>{{ c.attribute }}</span><span>)</span>
            <span *ngIf="c.career"> &#x2713;</span>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="app-img-container">
                <img class="img-thumbnail" style="height: 38px; width: 38px" src="assets/img/proficiency.png">
                <span class="app-text-block">
                  {{ c.dicePool.proficiency.length }}
                </span>
              </div>
              <div class="app-img-container">
                <img class="img-thumbnail" style="height: 38px; width: 38px" src="assets/img/ability.png">
                <span class="app-text-block">
                  {{ c.dicePool.ability.length }}
                </span>
              </div>
              <div class="app-img-container">
                <img class="img-thumbnail" style="height: 38px; width: 38px" src="assets/img/boost.png">
                <span class="app-text-block">
                  {{ c.dicePool.boost.length }}
                </span>
              </div>
              <div class="app-img-container">
                <img class="img-thumbnail" style="height: 38px; width: 38px;" src="assets/img/successblack.png">
                <span class="app-text-block" style="color: whitesmoke;">
                  {{ c.dicePool.autoSuccess.length }}
                </span>
              </div>
              <div class="app-img-container">
                <img class="img-thumbnail" style="height: 38px; width: 38px" src="assets/img/force.png">
                <span class="app-text-block">
                  {{ c.dicePool.force.length }}
                </span>
              </div>
              <button class="btn" style="padding: 0px; margin: 1px;" (click)="c.dicePool.addDifficulty()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/difficulty.png">
                  <span class="app-btn-text-block">
                    {{ c.dicePool.difficulty }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 0px; margin: 1px;" (click)="c.dicePool.addSetback()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/setback.png">
                  <span class="app-btn-text-block">
                    {{ c.dicePool.setback }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addChallenge()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/challenge.png">
                  <span class="app-btn-text-block">
                    {{ c.dicePool.challenge }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addProficiency()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/proficiency.png">
                  <span class="app-btn-text-block" style="color: black;">
                    {{ c.dicePool.adjProficiency }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addAbility()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/ability.png">
                  <span class="app-btn-text-block" style="color: black;">
                    {{ c.dicePool.adjAbility }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addBoost()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px" src="assets/img/boost.png">
                  <span class="app-btn-text-block" style="color: black;">
                    {{ c.dicePool.adjBoost }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addAutoSuccess()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px;" src="assets/img/successblack.png">
                  <span class="app-btn-text-block">
                    {{ c.dicePool.adjAutoSuccess }}
                  </span>
                </div>
              </button>
              <button class="btn" style="padding: 1px; margin: 1px;" (click)="c.dicePool.addForce()">
                <div class="app-img-container">
                  <img class="img-thumbnail" style="height: 38; width: 38px;" src="assets/img/force.png">
                  <span class="app-btn-text-block" style="color: black;">
                    {{ c.dicePool.adjForce }}
                  </span>
                </div>
              </button>
              <button class="btn btn-outline-secondary" style="padding: 1px; margin: 1px;" (click)="c.rollDice()">roll
              </button>
            </div>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="row" *ngIf="c.result">
                <div class="border border-success m-1" *ngIf="c.result.netSuccess != 0">
                  <span class="m-1">{{ c.result.netSuccess }}</span>
                  <img style="height: 20px; width: 20px;" src="assets/img/success.png">
                </div>
                <div class="border border-success m-1" *ngIf="c.result.triumph != 0">
                  <span class="m-1">{{ c.result.triumph }}</span>
                  <img style="height: 20px; width: 20px;" src="assets/img/triumph.png">
                </div>
                <div class="border border-success m-1" *ngIf="c.result.netAdvantage != 0">
                  <span class="m-1">{{ c.result.netAdvantage }}</span>
                  <img style="height: 20px; width: 20px;" src="assets/img/advantage.png">
                </div>
                <div class="border border-danger m-1" *ngIf="c.result.netFail != 0">
                  <span class="m-1">{{ c.result.netFail }}</span>
                  <img style="height: 20px; width: 20px; background-color: black;" src="assets/img/failure.png">
                </div>
                <div class="border border-danger m-1" *ngIf="c.result.despair != 0">
                  <span class="m-1">{{ c.result.despair }}</span>
                  <img style="height: 20px; width: 20px; background-color: black;" src="assets/img/despair.png">
                </div>
                <div class="border border-danger m-1" *ngIf="c.result.netThreat != 0">
                  <span class="m-1">{{ c.result.netThreat }}</span>
                  <img style="height: 20px; width: 20px; background-color: black;" src="assets/img/threat.png">
                </div>
                <div class="border border-success m-1" *ngIf="c.result.lightside != 0">
                  <span class="m-1">{{ c.result.lightside }}</span>
                  <img style="height: 20px; width: 20px;" src="assets/img/lightside.png">
                </div>
                <div class="border border-danger m-1" *ngIf="c.result.darkside != 0">
                  <span class="m-1">{{ c.result.darkside }}</span>
                  <img style="height: 20px; width: 20px;" src="assets/img/darkside.png">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>